
body {
  margin: 0;
  font-family: 'Toon-City Regular', 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(195,49,244);
  background: linear-gradient(90deg, rgba(195,49,244,1) 20%, rgba(34,199,203,1) 80%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}


